<script id="pokemon-battle-template" type="text/x-handlebars-template">
  <div class="pokemon-entry span11">
    <div class="pokemon-entry span2">
      <div class="description">
        <div class="span2" style="width: 100%;">
          <div class="pokemon-type {{typeSummary}}"></div>
          <div class="pokemon-name">{{name}}</div>
        </div>
        <img src="{{image}}" />
        <div class="pokemon-index">{{index}}</div>
      </div>
    </div>

    <div class="span4 effective-attack">
    <h5>Attack With</h5>
    {{#effectiveAttacks}}
      <div class="attack {{name}}">
      {{name}}
      <div class="multiplier">(x{{multiplier}})</div>
    </div>
    {{/effectiveAttacks}}
    </div>

    <div class="span4 ineffective-attack">
    <h5>Avoid Using</h5>
    {{#ineffectiveAttacks}}
      <div class="attack {{name}}">
        {{name}}
        <span class="multiplier">(x{{multiplier}})</span>
      </div>
    {{/ineffectiveAttacks}}
    </div>

  </div>
</script>
