<script id="pokemon-index-template" type="text/x-handlebars-template">
  <div class="pokemon-entry span2">
    <div class="description">
      <div class="span2" style="width: 100%;">
        <div class="pokemon-type {{typeSummary}}"></div>
        <div class="pokemon-name">{{name}}</div>
      </div>
      <img src="{{image}}" />
      <div class="pokemon-index">{{index}}</div>
    </div>
  </div>
</script>
