<div class="search span12">
  <div class="offset2 span10">
    <form class="form-search">
      <input id="pokemon-search" type="text" class="input-medium search-query" style="width: 100%;" value="<%= cookies[:last_search] %>">
    </form>
  </div>
</div>

<%= render partial: "pokemon_clientside" %>

<div class="span11" id="pokemon-results">
</div>

<script>
  $(function() {

    $("#pokemon-search").keypress(function(e) {
      if(e.which == 13) {
        e.preventDefault();
      }
    });

    $("#pokemon-search").on("keyup",function(eventObj) {
      if (eventObj.which == 13) { return; }
      var searchText = $(this).val();
      pokemonSearchFor(searchText);
    });

    var searchText = $("#pokemon-search").val();

    pokemonSearchFor(searchText);

  });

</script>