@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

  .row-fluid [class*="span"]:first-child {
    margin-left: 14.203px;
  }

  div.pokemon-entry div.description {
    width: 100%;
  }

  .attack {
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
    margin: 2px;
  }

  div.pokemon-entry div.effective-attack {
    width: 100%;
  }

  div.pokemon-entry div.ineffective-attack {
    width: 100%;
  }

}