<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" data-template="index" href="#">Dex</a>
    <ul class="nav">
      <li data-template="battle"><a href="#battle">Battle</a></li>
      <li data-template="evolve"><a href="#evolve">Evolve</a></li>
    </ul>
  </div>
</div>