<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>
<body>
<div class="row-fluid">
  <div class="container span12">

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Dex</a>
        <ul class="nav">
          <li class="active"><a href="#">Battle</a></li>
          <li><a href="#">Evolve</a></li>
        </ul>
      </div>
    </div>

    <div><h1>Pokedex</h1></div>
    <%= yield %>
  </div>
</div>

</body>
</html>
